<!DOCTYPE html>
<html lang="es">

<head th:insert="./layout/head.html"></head>

<body>
	<header th:insert="./layout/header.html"></header>

	<main>
		
		<h1>Hola xd</h1>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="pelicula : ${peliculas}">
				<div class="card">
					<!-- <img src="..." class="card-img-top" alt="..."> -->
					<div class="card-body">
						<h5 class="card-title" th:text="'Nombre: ' + ${pelicula.nombre}"></h5>
						<p class="card-text" th:text="'Género: ' + ${pelicula.genero.nombre}"></p>
						<ul th:each="protagonista : ${pelicula.protagonistas}">
							<li th:text="'Actor: ' + ${protagonista.nombre}"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		
	</main>


</body>

</html>